@import "tailwindcss";

@theme {
  /* Neutral Colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Accent Colors */
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* Fonts */
  --font-sans: "DM Sans", ui-sans-serif, system-ui;
  --font-display: "Bricolage Grotesque", sans-serif;
  
  /* Standard Font Size */
  --text-base: 18px;
}

body {
  @apply bg-neutral-900 text-neutral-0 font-sans antialiased;
  font-size: var(--text-base);
}

h1, h2, h3 {
  @apply font-display font-bold;
}